@charset "UTF-8";

main{height: auto;}

.inner_member{
    width: 1000px; 
    margin: 0 auto;
}
#main_line{
    width: 1920px; 
    height: 1px; 
    background-color: 
    #dfe0e2; border: 0; 
}

main h3{
    padding-top: 60px; 
    padding-bottom: 30px; 
    font-size: 30px;
}

#main_line2{
    width: 1000px; 
    height: 1px; 
    background-color: #dfe0e2; 
    border: 0;  
    margin-bottom: 50px;
}

.content_box {
    width: 1000px; 
    margin: 0 auto;
}

/* 장바구니 목록 테이블 꾸미기 */
.itemList{
    width:  1000px;
    border-top: 1px solid #d9dadb;
    border-collapse: collapse;
}

.itemList thead tr {
    background-color: #f7f7f7;
    color: #333;
  }

.itemList th, td {
    border-bottom: 1px solid #d9dadb;
    padding: 10px;
    text-align: center;
}

.itemList th {
    
    padding: 9px 10px 10px;
}

.itemList td {    
    padding: 15px 10px 14px;
}

.itemList td:not(.td_chk, .td_delivery) {
    border-right: 1px solid #d9dadb;
}

/* 쇼핑계속하기 */
.cart_go_link {
    margin: 5px 0px 0px;
}

/* 금액 정보 꾸미기 */
.price_area {
    border: 2px solid #d9dadb; 
    margin:30px 0px 0px;
    padding: 20px 40px 25px;
}

.price_sum_list{
    display:flex;
    justify-content: flex-start;
} 

.price_sum_list div{
    
    text-align: right;  
    margin: 10px 15px 10px;
   
}

.price_sum_list div:first-child{
    margin-left:auto;
}

/* 동의 영역*/

.agree_box {
    padding: 25px 0px;
    margin: 20px 0px;
}

.agree_area {
    border:  1px solid #d9dadb;
    padding: 15px 0px;
    margin: 20px 0px;
    
}

.agree_area h4{
    padding-left: 10px;
}

.agree_area .agree_chk_area{
    padding-left: 10px;
}
.agree_area strong{
    color: #8b283d;
}

.scroll_box {
    border:  1px solid #d9dadb;
    height :100px;
    margin: 10px;
    padding: 15px;
    font-size : 1em;
    overflow : auto;
}

/* 주문자정보 */
.info_table {
    width:  1000px;
    border-top: 1px solid #d9dadb;
    border-collapse: collapse;
}






/* 버튼 꾸미기*/

.order_area {
    margin:10px 0px 0px;
    padding: 20px 0px 20px; 
    display:flex;
    justify-content:flex-start;
}

.order_area .order_left_area{
    margin-right: auto;
} 

.medium_btn{
    padding: 5px 15px;
    font-size: 1em;
    text-align: center;
}

.large_btn{
    padding: 10px 20px;
    margin: 0px 0px 0px 6px;
    font-size: 1.5em;
    text-align: center;
}

.btn_white{
    color: #626262;
    background-color: #fff;
    border: 1px solid #333; 
}

.btn_red{
    color: #fff;
    background-color: #ab3e55;
    border: 1px solid #333; 
    
} 

.btn_red:hover{
    color: #fff;
    background-color: #8b283d;
    cursor: pointer;
} 

.btn_white:hover{
    color: #626262;
    background-color: #f7f7f7;
    cursor: pointer;
}