.adminBox{border:1px solid  #dfe0e2; font-size: 25px; text-align: center; 
		margin-top: 70px; margin-left: 340px; width: 120px;}
.adminBox:hover{box-shadow: 5px 5px 5px rgba(0,0,0,0.1); border:1px solid  #111;}