@charset "UTF-8";



.inner_member2{
    width: 800px; margin: 0 auto;
}
#reviewBox{margin-bottom: 50px; width: 800px; height: 70px; }
#textarea{width: 600px; height: 70px; float: left; font-size: 17px; border: 1px solid lightgrey}
#submitBt{width: 100px; height: 50px; margin-left: 100px; float: right; margin-top: 10px; padding:0px}


#idBox{width: 150px; height: 30px; line-height: 30px; text-align: center; border: 1px solid lightgrey; margin-bottom: 1px; font-weight: bold;}
.reviewarea{width: 600px; height: 70px; float: left; font-size: 17px; border: 1px solid lightgrey; text-align: left; word-wrap: break-word;}

#review_modifyBox{float: right;}
.reviewBt{width: 47px; height: 30px; margin-top: 20px;}

.reviewBox2{margin-bottom: 100px;}

.reviewBt2{width: 47px; height: 30px; margin-top: 20px; margin-right:6px}

/* 페이징 */
.pagination{
    height: 100px;
    padding-top: 20px;
}
.pagination ul {
    font-size:initial; /*main에서 변경한것 여기서만 되돌림*/
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination li{
    flex:center;
    text-align: center;
}


.pagination a{
    font-size: 1em;
    text-decoration: none;
    padding: 5px 10px;
    color: #9ea0a3;
   
}
.pagination .active{
    padding-top: 3px;
    width: 1.8em;
    height: 1.8em;
    border-radius:100%;
    background-color: #ab3e55;
    color: white;
   
}

.pagination .align_right{
    margin-left: auto;
}
