@charset "UTF-8";

*{
    margin:0; padding:0; box-sizing: border-box;
    font-family:
    'Spoqa Han Sans Neo', 'nanumsquare' ,
     sans-serif;}
a{text-decoration:none ; color:#111;}
ul, ol, dl{list-style-type: none; font-size:0;}


.inner{width: 1200px; margin: 0 auto;}
.clearfix::after{content: ''; display: block; clear: both;}
h3{font-size: 50px; font-family: 'Spoqa Han Sans Neo'; font-weight: bold; text-align: center;}


header{padding-top: 50px;}
#top_logo{width: 200px; height: 89px; float: left;}
#top_logo img{width: 100%;}
#search input{
    width: 557px; height: 52px; background-color: #f0f0f0; margin-top: 19px;  
    border-radius:50px; float: left; border: 0px; padding-left:30px; margin-left: 119px;}
#login{width: 240px; float: right; padding-top: 37px;}
#login li{display: inline-block; width: 80px; text-align: center;}
#login li a{font-size: 16px; font-family: 'nanumsquare'; color: #666;}
#login li:hover a{color: #29a4ff;}

header hr{
    width: 1920px; height: 1px; background-color: #dfe0e2; 
    margin-top: 54px; border: 0;}


#category{width: 1200px; height: 74px;}
#category > li{
    width: 150px; height: 74px; display: inline-block; text-align: center; 
    line-height: 74px; position: relative;}
#category > li > a{font-size: 19px; font-family: 'nanumsquare';}
#category > li::before{
    content: '|'; width: 1.3px; height: 20px ; background-color: #999; 
    position: absolute; left: 0; top: 50%; transform: translatey(-50%);}
#category > li:last-child::after{
    content: '|'; width: 1.3px; height: 20px ; background-color: #999;
    position: absolute; right: 0; top: 50%; transform: translatey(-50%);}
#category > li:hover .hidden{height: 300px; width: 150px;}
.hidden{
    position: absolute; background-color: rgba(0,0,0,0.8); 
    height: 0 ;overflow: hidden; transition: all 0.4s; width: 150px;}
.hidden a{font-size: 13px; color: #fff; font-family: 'nanumsquare';}
#category > li:hover > a{color: #29a4ff;}
.hidden li:hover a{color: #29a4ff;}

/*main*/

#mainview{width: 1200px; height: 500px;}

#best{padding: 130px 0;}

#bg{
    background-color: #f0f0f0; width: 1920px; height: 864px;
    position: relative;}
#ad1 , #ad2{
    width: 588px; height: 605px; margin: 130px 0; border-bottom: 1px solid #666;}
#ad1{float: left;}
#ad1_img{width: 588px; height: 480px; overflow: hidden;}
#ad1 img{object-fit: contain;}
#ad2{float: right;}
#ad2_img{width: 588px; height: 480px; overflow: hidden;} /*이미지 위치조정*/
#ad2 img{object-fit: contain;}
#ad1_text, #ad2_text{width: 588px; height: 125px;}
#ad1_text p{
    font-size: 25px; font-family:'nanumsquare'; 
    font-weight: bold; margin-left: 20px;}
#ad1_text p span{
    font-size: 16px; font-family: 'Spoqa Han Sans Neo'; 
    color: #111; font-weight: normal;}/*정확하지 않은 높이값*/
#ad2_text p{
    font-size: 25px; font-family:'nanumsquare'; 
    font-weight: bold; margin-left: 20px;}
#ad2_text span{
    font-size: 16px; font-family: 'Spoqa Han Sans Neo'; 
    color: #111; font-weight: normal;}
#ad2 a{ display: inline-block;width: 588px; height: 605px;}
#ad1 a{ display: inline-block;width: 588px; height: 605px;}
#ad1 a:hover #ad1_text{background-color: #fff;}
#ad1 a:hover{box-shadow: 5px 5px rgba(0,0,0,0.2);}
#ad2 a:hover #ad2_text{background-color: #fff;}
#ad2 a:hover{box-shadow: 5px 5px rgba(0,0,0,0.2);}



#new h3{margin-top: 130px; margin-bottom: 70px;}
#new1, #new2{width: 282px; height: 460px; display: inline-block;} /*걍 사진을 조정해서 가져오자*/
#new1 a{width: 282px; height: 460px; display: inline-block;}
#new_img{width: 282px; height: 360px; display: inline-block;}
#new1 #new_img img{width: 100%;}






/*footer*/

footer hr{
    width: 1920px; height: 1px; background-color: #111111;
    margin-bottom: 38px; margin-top: 130px;
}

#f_left{float: left;}
#f_logo{width: 170px; height: 76px; margin-bottom: 25px;}
#f_logo img{width: 100%;}
#f_left span{display: block; font-family: 'nanumsquare';}
#f_left p{line-height: 1.5; font-size: 14px; color: #666; font-family: 'nanumsquare' ;}
#f_copy{margin-top: 10px;}

#f_right{float: right; margin-top: 23px;}
#f_menu{width: 634px;}
#f_menu li{display: inline-block; width: 120px; text-align: center;}
#f_menu li a{font-size: 16px; font-weight: bold; font-family: 'nanumsquare';}

#f_icon li{display: inline-block;} /*얘 위치 아래로 옮기는법 플롯라이트인데 왼쪽임 (포지션 쓰면 3개가 겹침)*/



